.button a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto" , sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    background-color: #07b569;
    padding: 6px 28px;
    display: block;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #235d49
}

.button a:hover{
    background-color: #235d49;
    box-shadow: 0px 0px 3px #07b569;
    transition: all 0.8s;
}